
.content-container {
  padding-bottom: 60px;
  width: 100%;
}

.event-wrapper {
  margin-bottom: 10px;
  border-style: solid;
  border-color: rgba(255,140,10,0.6);
  border-width: 10px;
  border-radius: 10px;
}

#event-container {
  .ind-events {
    .interior-events {
      max-width: 500px;
      margin: 0 auto;
      padding: 5px;
    }
  padding: 5px;
  }

  .event-image {
    max-width: 100%;
    position: relative;
    position: top;
  }

}

.event-images{
  max-width: 500px;
  min-height: 100px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}

.content-container li a {
  color: $gray-base;
}

.content-container li a:hover {
  color: $gray;
}

#map {
  margin-top: 10px;
}

ng-map {
  height: 30em;
  width: 100%;

}

// TODO Style event images and content to change image and sizing for screen size
