.header {
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(to bottom, rgba(255,140,10,0.9), rgba(255,151,76,0.1)); /*Standard*/
  background: -webkit-linear-gradient(top, rgba(255,140,10,0.9),rgba(255,151,76,0.1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom, rgba(255,140,10,0.9),rgba(255,151,76,0.1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom, rgba(255,140,10,0.9),rgba(255,151,76,0.1)); /*Fx 3.6-15*/
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#body-container .header li a {
  color: $gray-base;
}

#body-container .header li a:hover {
  color: $gray;
}

.navbar {
  background: none;
  border: none;

}

// .navbar-nav ul li a {
//   height: 80px;
// }

// .navbar-brand {
//   height: 80px;
// }
