<div ng-controller="EventsCtrl" class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="row">
          <h2>{{eventdata.title}}</h2>
          <h4><a href="{{eventdata.url}}">View on Eventful</a></h4>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="event-images">
              <div ng-if="eventdata.images != null">
                <div  ng-if="imagesArray">
                  <!-- carousel slides -->
                  <div uib-carousel interval="myInterval">
                    <div uib-slide ng-repeat="slide in eventdata.images.image" index="$index">
                      <img ng-src="{{slide.large.url}}" style="margin:auto;">
                    </div>
                  </div>
                </div>
                <img ng-if="imagesArray==false" src="{{eventdata.images.image.large.url}}">
              </div>
              <div ng-if="eventdata.images == null">
                <img src="images/sixteenth-note.jpg" alt="placeholder image">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <p>{{eventdata.title}} is at {{eventdata.venue_name}}</p>
            <p>Maps to the event {{eventdata.address}}, {{eventdata.city}}, {{eventdata.region}} {{eventdata.postal_code}}</p>
          </div>
        </div>
        <div id="map" class="row">
          <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
            <ng-map default-style="false" center="{{eventdata.latitude}},{{eventdata.longitude}}" zoom="12" min-zoom="8">
              <marker
                id="eventmarker"
                position="{{eventdata.latitude}},{{eventdata.longitude}}"
                title="{{eventdata.venue_name}}"
                on-click="map.showInfoWindow('markerPopup')">
              </marker>
              <info-window id="markerPopup">
                <div ng-non-bindable>
                  <em>{{eventdata.venue_name}}</em><br/>
                  {{eventdata.venue_type}}<br/>
                  <a ng-href="http://maps.google.com/maps?z=12&t=m&q=loc:{{eventdata.latitude}}+{{eventdata.longitude}}" alt="maps link">{{eventdata.address}}<br/>
                  {{eventdata.city}}, {{eventdata.region}}<br/></a>
                </div>
              </info-window>
            </ng-map>
          </div>
        </div>
</div>
