<div class="content-container">
  <h1>Your events within {{within}} miles of {{location}} for {{time}}</h1>
        <dl>
          <dt>{{eventdata.event[0].title}}</dt>
          <dd>at {{eventdata.event[0].}}</dd>
          <dd>Map link?</dd>
          <dt>Performers:</dt>
          <dd>{{eventdata.event[0].}}
        </dl>
      <div class="col-sm-6">
        <img src="{{eventdata.event[0].url[0]}}" alt="event image">
      </div>
      <div class="eventful-badge eventful-small col-xs-12">
        <img src="http://api.eventful.com/images/powered/eventful_58x20.gif" alt="Local Events, Concerts, Tickets">
        <p><a href="http://eventful.com/">Events</a> by Eventful</p>
      </div>
</div>
