<h1>Find your favorite events</h1>
<h2>With the artist's best music!</h2>
<div class="row">
  <form action="main.html">
    <div  class="col-xs-3">
      Date: <br>
      <select ng-model="selectEvent" ng-options="x for x in dates"id="date-range" name="Choose-date" class="select-field">
      </select>
    </div>
    <div  class="col-xs-3 within-select">
      Within: <br>
      <select ng-model="selectWithin" ng-options="x for x in within"id="within-range" name="Choose-within" class="select-field">
      </select>
    </div>
    <div  class="col-xs-3">
      Zip Code: <br>
      <input type="text" class="select-field">
    </div>
    <div class="col-xs-3">
      <br>
      <input type="submit" value="submit" class="select-field">
    </div>
  </form>
</div>
<p>Some random text</p>
<p><a href="">something even more random</a></p>
