<div class="img"><img src="../images/yeoman.png" alt="test"></div>
<h1> random text</h1>
<h2>still random</h2>
<div class="row">
  <div id="reportrange" class="col-xs-6" style="cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
      <span></span> <b class="caret"></b>
  </div>
  <div class="col-xs-2">
    <button id="get-events-btn" class="btn" ng-click="refreshCurrent()">Get Events</button>
  </div>
</div>
<p>Some random text</p>
<p><a href="">something even more random</a></p>
