  <div ng-app class="content-container" ng-controller="MainCtrl">
    <h1>Find your favorite events</h1>
    <h2>With the artist's best music!</h2>
    <div class="row content-container">
        <div  class="col-xs-3">
          Date: <br>
          <select ng-model="time" ng-options="x for x in dates"id="date-range" name="Choose-date" class="select-field" placeholder="Today">
          </select>
        </div>
        <div  class="col-xs-3 within-select">
          Within: <br>
          <select ng-model="within" ng-options="x for x in distance"id="within-range" name="Choose-within" class="select-field">
          </select>
        </div>
        <div  class="col-xs-3">
          Zip Code: <br>
          <input ng-model="location" type="number" ng-pattern='/^(\d{5}(-\d{4})?|[A-Z]\d[A-Z] *\d[A-Z]\d)$/' class="select-field" id="zip-code" placeholder="98101">
        </div>
        <div class="col-xs-3">
          Find your events!<br>
          <button type="submit" value="submit" class="select-field" ng-click="refreshCurrent()">
        </div>
    </div>
    <div ng-if="searchQuery">
      <h1>Your events for {{location}}</h1>
      <dl ng-repeat="event in eventsFound.list">
        <dt>{{city.name}}, {{city.sys.country}}</dt>
        <dd>{{city.weather[0].main}} - {{city.weather[0].description}}</dd>
        <dt>Temperature</dt>
        <dd>{{city.main.temp}} &deg;F</dd>
        <dd><a ng-href="/#/current/{{city.id}}" class="btn btn-lg btn-primary">View Weather</a></dd>
      </dl>
    </div>
  </div>
